<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td><%= link_to "#{post.title}", post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to "Delete", post, data: { turbo_method: :delete , confirm: 'Are you sure?'} %></td>
        <td>
         <span class="font-bold">- Posted by:</span>
         <%= post.posted_by(current_user, post) %>
        </td>
        <td>
          <span class="font-bold">Posted at:</span>
          <%= post.posted_at(post) %> <%# By default, UTC timezone values %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
