<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col">
    <%= form.label :title, "Title:", class: "font-bold" %>
    <%= form.text_field :title, class:"mt-2 w-96" %>

    <%= form.label :body, "Body:", class:"mt-4 font-bold" %>
    <%= form.text_area :body, class:"mt-2 w-96" %>
  </div>

  <div class="mt-4">
    <%= form.submit %>
  </div>
<% end %>
