<h1>Post:</h1>

<div>
  <p><b>Title: </b><%= @post.title %> </p>
  <p><b>Body: </b><%= @post.body %> </p>
</div>

<div class="mt-5">
  <%= link_to "Edit this post", edit_post_path(@post) %>
  <%= link_to "Delete this post", @post, data: { turbo_method: :delete }, class: "ml-2" %>
</div>

<%= render partial: "comments", locals: { post: @post }, class: "mt-8" %>

<div class="mt-10">
  <%= render partial: "new_comment", locals: { post: @post }%>
</div>

<div class="mt-20">
  <%= button_to "Back to Posts", posts_path, method: :get %>
</div>

